{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>Forgot Password - Bluestock</title>
 <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>
<body>
 <section class="container forms">
 <div class="form ">
 <div class="form-content">
 <div class="auth-container">
 <form method="post" class="auth-form">
 {% csrf_token %}
 <img src="{% static 'images/site_logo.png' %}" alt="Bluestock Logo" class="logo">
 <h2>Forgot Password?</h2>
 <p>Enter your email address to get the password reset link.</p>
 
 <form action="#">
 <div class="field input-field">
 <label for="email">Email Address</label>
 <input type="email" placeholder="Email" class="input">
 </div>
 <br> 
 <div class="field button-field">
 <button type="submit">Password reset</button>
 </div>
 <div class="field1">
 <a href="{% url 'signin' %}" class="button">Back to login</a>
 </div>
 </form>
 
 </form>
 </div>
 </div>
 </div>
 </section>
 
</body>
</html>